@*<div class="row adresseTxt" style="">
    <span class="col-xs-6">N&ordm; :</span>
    <span>@Model.NumRecu</span>
</div>*@
<div class="row adresseTxt">
    <span class="col-xs-6">Agence :</span>
    <span>@Model.Agence</span>
</div>
@*<div class="row adresseTxt">
    <span class="col-xs-6" style="width:53%;">Caissier(e) :</span>
    <span>@Model.Caisse</span>
</div>*@
<div class="row adresseTxt">
    <span class="col-xs-6">Date :</span>
    <span>@Model.Date.ToString("dd/MM/yyyy")</span>
</div>
