<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>localhost/optica08</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/optica08</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Optica.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Server=127.0.0.1;Port=5432;Database=opticaauth2;User Id=postgres;Password=root;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Optica.Models.ApplicationDbContext, Optica" MigrationConfiguration="Optica.IdentityMigrations.Configuration, Optica" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppDbContext" Order="2" Enabled="False">
          <Destination Path="Server=127.0.0.1;Port=5432;Database=optica2;User Id=postgres;Password=root;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Optica.Models.AppDbContext, Optica" MigrationConfiguration="Optica.Migrations.Configuration, Optica" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=127.0.0.1;Database=opticaAuth;User Id=postgres;Password=root;Port=5432" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;Database=opticaAuth;User Id=postgres;Password=root;Port=5432" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppDbContext-Web.config Connection String">
      <ParameterValue>Server=127.0.0.1;Port=5432;Database=optica2;User Id=postgres;Password=root;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Optica.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Server=127.0.0.1;Port=5432;Database=opticaauth2;User Id=postgres;Password=root;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Optica.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>